# .gitignore for Melanoma_RNAseq pipeline

# Raw and processed sequencing data
data/raw/
data/trimmed/
qc/

# BAM files
*.bam
*.bam.bai

# Genome files 
genome/fasta/
genome/gtf/
genome/star_index/

# featureCounts output 
data/counts/*.summary


# alignment
data/alignments/
data/counts/

# Logs
logs/

# R session artifacts
.Rhistory
.RData
*.Rout

# conda artifacts
__pycache__/
*.pyc

# System files
.DS_Store
